@model IEnumerable<SysUser>
@using System.Globalization
@using BR.Repositories.IRepositories
@using BR.helper
@using Microsoft.AspNetCore.Mvc.Localization
@inject ISharedViewLocalizer SharedLocalizer
@inject ISysUserRepository sysUserRepository
@{
    var url = Context.Request.Path + Context.Request.QueryString;
    var currentCulture = CultureInfo.CurrentCulture;
    var supportedCultures = new[]
            {
        new CultureInfo("ar-YE"),
        new CultureInfo("en-US"),
        // Add other supported cultures here...
    };
}
@{
    ViewData["Title"] = "Home Page";
    int users  =  @sysUserRepository.GetAll(p => p.IsDeleted == false).Result.Count();
    int contractors = @sysUserRepository.GetAll(p => p.IsDeleted == false&&p.UserType==UserTypes.Contractor).Result.Count();
    int constructionShops = @sysUserRepository.GetAll(p => p.IsDeleted == false && p.UserType == UserTypes.ConstructionShop).Result.Count();
    int workers = @sysUserRepository.GetAll(p => p.IsDeleted == false && p.UserType == UserTypes.Worker).Result.Count();
}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a asp-controller="Account" style="text-decoration: none;">
            <div class="info-box hover-expand-effect">
                <div class="icon bg-primary">
                    <i class="mdi mdi-account-group ">@SharedLocalizer["users"]</i>
                </div>
                <div class="content">
                    <div class="text">@SharedLocalizer["users"]</div>
                    <div class="number  count-to pt-1" data-from="0" data-to="@users" data-speed="1000" data-fresh-interval="20">@users</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a asp-controller="Worker" style="text-decoration: none;">
        <div class="info-box hover-expand-effect">
            <div class="icon bg-danger ">
                <i class="mdi mdi-worker">equalizer</i>
            </div>
            <div class="content">
                <div class="text">@SharedLocalizer["workers"]</div>
                <div class="number  count-to pt-1" data-from="0" data-to="@workers" data-speed="1000" data-fresh-interval="20">@workers</div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a asp-controller="Contractor" style="text-decoration: none;">
        <div class="info-box hover-expand-effect">
            <div class="icon bg-success">
                    <i class="mdi mdi-account-group  ">@SharedLocalizer["contractors"]</i>
            </div>
            <div class="content">
                <div class="text">@SharedLocalizer["contractors"]</div>
                <div class="number  count-to pt-1" data-from="0" data-to="@contractors" data-speed="1000" data-fresh-interval="20">@contractors</div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a asp-controller="ConstructionShop" style="text-decoration: none;">
        <div class="info-box hover-expand-effect">
            <div class="icon bg-primary">
                <i class=" mdi mdi-shopping ">@SharedLocalizer["constructionShops"]</i>
            </div>
            <div class="content">
                <div class="text ">@SharedLocalizer["constructionShops"]</div>
                <div class="number  count-to pt-1" data-from="0" data-to="@constructionShops" data-speed="1000" data-fresh-interval="20">@constructionShops</div>
            </div>
        </div>
        </a>
    </div>
</div>
<div class="row ">
    <div class="col">
        <div class="card shadow border-0">
            <div class="card-datatable table-responsive text-nowrap">
                <div class="row m-3 pt-2">
                    <div class="col-6 m-0">
                        <h3 class="card-title h-3 text-right">@SharedLocalizer["users"]</h3>
                    </div>
                    
                </div>
                <hr class="border-1 opacity-100 ">
                @if (TempData.ContainsKey("msg"))
                {
                    <div class="alert alert-success">@TempData["msg"]</div>
                }

                @if (TempData.ContainsKey("error"))
                {
                    <div class="alert alert-danger">@TempData["error"]</div>
                }

                @if (Model != null && Model.Any())
                {

                    <table class="datatables-basic table table-head-custom  text-right" id="dataTable" width="100%" cellspacing="0">
                        <thead class="border-top">
                            <tr>
                                <th>العمليات </th>
                                <th> #ID</th>
                                <th> رقم الجوال </th>
                                <th> الاسم </th>
                                <th> النوع</th>
                                <th> التأكييد </th>
                                <th> الحالة</th>
                                <th> تاريخ الاضافة</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                @if (!item.IsConfirmed)
                                                {
                                                    <a class="dropdown-item" asp-controller="Account" asp-action="ConfirmUser" asp-all-route-data='@new Dictionary<string, string>{{"id",@item.Id.ToString()},{"Confirm",@item.IsConfirmed.ToString()}}'>تأكييد</a>
                                                }
                                                @if (item.IsActive)
                                                {
                                                    <a class="dropdown-item" asp-controller="Account" asp-action="ChangeIsActive" asp-all-route-data='@new Dictionary<string, string>{{"id",@item.Id.ToString()},{"isActive",@item.IsActive.ToString()}}'>ايقاف</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" asp-controller="Account" asp-action="ChangeIsActive" asp-all-route-data='@new Dictionary<string, string>{{"id",@item.Id.ToString()},{"isActive",@item.IsActive.ToString()}}'>تفعيل</a>
                                                }
                                                @*  <a asp-action="Edit" asp-route-userId="@EncryptionHelper.Encrypt(@item.Id)" class="dropdown-item"><b>تعديل</b></a> *@
                                                <a asp-action="ChangePassword" asp-route-userId="@item.Id" class="dropdown-item"><b>تغيير كلمة المرور</b></a>

                                            </div>
                                        </div>
                                    </td>
                                    <td>@item.Id.Substring(0, 10) ...</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.FullName</td>
                                    @if (item.UserType != null)
                                    {
                                        @if (item.UserType == UserTypes.Admin)
                                        {
                                            <td>@UserTypes.Admin</td>
                                        }
                                        else if (item.UserType == UserTypes.User)
                                        {
                                            <td>@UserTypes.User</td>
                                        }
                                        else if (item.UserType == UserTypes.Customer)
                                        {
                                            <td>@UserTypes.Customer</td>
                                        }
                                        else if (item.UserType == UserTypes.Contractor)
                                        {
                                            <td>@UserTypes.Contractor</td>
                                        }
                                        else if (item.UserType == UserTypes.ConstructionShop)
                                        {
                                            <td>@UserTypes.ConstructionShop</td>
                                        }
                                        else if (item.UserType == UserTypes.Worker)
                                        {
                                            <td>@UserTypes.Worker</td>
                                        }
                                        else if (item.UserType == UserTypes.Factory)
                                        {
                                            <td>@UserTypes.Factory</td>
                                        }
                                        else
                                        {
                                            <td> --- </td>
                                        }

                                    }
                                    @if (item.IsConfirmed)
                                    {
                                        <td><span class=" text-success">نعم</span></td>
                                    }
                                    else
                                    {
                                        <td><span class=" text-danger">انتظار</span></td>
                                    }
                                    @if (item.IsActive != null)
                                    {
                                        @if (item.IsActive)
                                        {
                                            <td><span class=" text-success">فعال</span></td>
                                        }
                                        else
                                        {
                                            <td><span class=" text-danger">متوقف</span></td>
                                        }
                                    }
                                    <td>@item.CreatedOn</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                }
                else
                {
                    <div class="alert alert-info"> لا توجد بيانات حاليا </div>
                }
            </div>
        </div>
    </div>
</div>
